/*Seletores de elementos*/

h1, body, h3, p{
   margin: 0;
   color: white;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 22px; 
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

span{
    font-family: 'Open Sans', sans-serif;
    color:rgba(255, 246, 246, 0.713);
}

ul, ol{
    padding: 0;
    list-style-type: none;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("https://i.imgur.com/Q6R7bpt.jpg");
    background-size: cover;
    margin: 0;
    
}

nav{
    background-color:black;
    
}

/*perfil*/
.capa{
    background-image: url("https://i.imgur.com/jb0D3Wz.jpg");
    background-size: cover;
    object-fit: scale-down;
}

.jumbotron{
    height: 205px;
}

.foto{
    width: 300px;
    height: 230px;
    border-radius: 100%;  
    object-fit: scale-down;
    margin-top: -50px;  
   
     
}

.profissao{
    font-size: 24px;
}

/*-----------------------------------------------*/

/*Coluna da Esquerda (Experiencias Profissionais)*/
.experiencia{
    width: 30%;
}

.coluna-experiencia img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 8px;
}

.coluna-experiencia li{
   display: flex;
   margin-top: 32px;
   width: 288px;
}

.linha{
    margin-top: -8px;
    border-top: 5px solid;
    border-radius: 10px;
    border-color: blueviolet;
    
}

.experiencia .linha{
    width: 85% ;
    border-color: rgba(250, 0, 0, 0.645);
}
/*Coluna da Esquerda (Formação)*/

.formacao .linha{
    width: 35%;
    border-color: rgba(242, 255, 0, 0.645);
}

.curriculo .linha{
    width: 34%;
    border-color:rgba(131, 143, 143, 0.645);
}

.curriculo Span{
    color: white;
}


/*Coluna da direita (habilidades)*/
.habilidades{
    
}
.card{
    border-radius: 20px;
    display: inline-block;
    margin: 25px 10px;
    background-color: black;
}

.card p{
    margin-left: -16px;
    font-size: 15px;
}

.modal-body{
    background-color: black;
}

/*Barra de progresso para as habilidade*/

.progress{
    margin-top: 7px;
    border-radius: 8px;
    height: 12px;
    background-color: #ccc;
    display: flex;
    width: 100%;
    
  }

  .progress span{
      color:rgb(44, 37, 37);
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
  }

.carousel-inner{
    border-radius: 16px;
    background-image:linear-gradient(to bottom, white, blue);
}
  