/*Seletores de elementos*/

h1, body, h3, p{
   margin: 10px;
   color: white;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: normal;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 23px;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}


p{
    font-family: 'Open Sans', sans-serif;
}

span{
    font-family: 'Open Sans', sans-serif;
    color:rgba(255, 246, 246, 0.713);
}

ul, ol{
    padding: 0;
    list-style-type: none;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("https://i.imgur.com/Q6R7bpt.jpg");
    background-size: cover;
    
}

/*-----------------------------------------------*/
/*perfil*/
.capa{
    background-image: url("https://i.imgur.com/IblJiPw.jpg");
    border-radius: 20px;
    background-size: cover;
}

.foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;    
   
}

.profissao{
    font-size: 24px;
}

/*-----------------------------------------------*/

/*Coluna da Esquerda (Experiencias Profissionais)*/

.col-esquerda img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 8px;
}

.col-esquerda li{
   display: flex;
   margin-top: 32px;
   width: 288px;
}

.linha{
    margin-top: -8px;
    border-top: 5px solid;
    border-radius: 10px;
}

.experiencia .linha{
    width: 85%;
    border-color: rgba(250, 0, 0, 0.645);
}
/*Coluna da Esquerda (Formação)*/

.formacao .linha{
    width: 36%;
    border-color: rgba(242, 255, 0, 0.645);
}


