/*Seletores de elementos*/

h1, body, h3, p{
   margin: 0;
   color: white;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: normal;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 23px;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}




p{
    font-family: 'Open Sans', sans-serif;
}

span{
    font-family: 'Open Sans', sans-serif;
    color:rgba(255, 246, 246, 0.713);
}

ul, ol{
    padding: 0;
    list-style-type: none;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("https://i.imgur.com/Q6R7bpt.jpg");
    background-size: cover;
    
}

nav{
    background-color:black;
}


/*-----------------------------------------------*/
/*perfil*/
.capa{
    background-image: url("https://i.imgur.com/jb0D3Wz.jpg");
    background-size: cover;
}

.jumbotron{
    height: 330px;
}

.foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;  
    margin-top: -50px;  
   
}

.profissao{
    font-size: 24px;
}

/*-----------------------------------------------*/

/*Coluna da Esquerda (Experiencias Profissionais)*/

.coluna-experiencia img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 8px;
}

.coluna-experiencia li{
   display: flex;
   margin-top: 32px;
   width: 288px;
}

.linha{
    margin-top: -8px;
    border-top: 5px solid;
    border-radius: 10px;
    border-color: blueviolet;
}

.experiencia .linha{
    width: 85%;
    border-color: rgba(250, 0, 0, 0.645);
}
/*Coluna da Esquerda (Formação)*/

.formacao .linha{
    width: 35%;
    border-color: rgba(242, 255, 0, 0.645);
}

/*Coluna da direita (habilidades)*/

.habilidade h2{
    font-size: 42px;
}

.habilidade button{
    margin-top: -20px;
}
.card{
    border-radius: 20px;
    display: inline-block;
    margin: 10px;
    background-color: black;
}

.card h3{
    font-weight: bold;
    font-size: 32px;
    
}

.modal-body{
    background-color: black;
}